body {
    font-family: sans-serif;
    width: auto;
}

.skip {
    position: absolute;
    top: -65px;
    left: 0;
}

.skip:focus {
    top: 5px;
    color: #00274C;
    background: white;
    border: 3px dashed #00274C;
    position: relative;
    font-weight: bold;
}

ul {
    list-style: none;
}





/* header page*/
header {
    display: grid;
    grid-template-columns: auto;
    column-gap: 2px;
    justify-content: stretch;
    background-image: url(../images/Meeting-Critical.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: inherit;

}

h1 {
    font-size: 16px;
    font-weight: bolder;
    grid-column: 2;
    text-align: right;
    padding: 10px;
    margin-top: 5px;
    color: white;
    /* background-color: rgb(0, 255, 72); */

}

header img {
    z-index: 2;
    grid-column: 1/span 1;
    width: 100%;
    max-width: 50px;
    min-width: 50px;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

nav {
    background-color: #00274C;
    padding: 0;
    justify-items: center;
    justify-content: space-evenly;
    grid-column: 1/span 2;

}

nav ul {
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    font-size: 12px;
    justify-items: center;
    align-items: center;
    list-style: none;
    height: 20px;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header a:visited {
    color: #ffffff
}




header a:hover, header a:focus {
    border: solid 1px white;
    color: #ffffff;
    border-radius: 3px;
    padding: 0px 5px;
}

main a:hover, main a:focus {
    font-weight: bolder;
}



/* main */

.extra_note {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    text-align: left;
    justify-content: left;
    width: 100%;
}

.pageimage {
    width: 100%;
}

main section:first-child {
    color: #FFCB05;
    background-color: #000000;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    justify-items: center;

}

main section h2,
main section p,
main section ul {
    padding: 10px
}


main section:first-child h2 {
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border: #FFCB05 dashed 1px;
    width: 75%;
    padding: 5px;
    margin-top: 15px;
    border-radius: 5px;
}

main section h3 {
    padding-left: 10px;
}

h2 {
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

h3 {
    font-size: 14px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    margin-top: 10px;

}

p {
    font-size: 12px;
}

ul {
    font-size: 12px;
    list-style: none;

}

li {
    margin-bottom: 10px;
}

iframe {
    width: 100%;
    height: 250px;
}


/* main section */
main section:nth-child(2) {
    color: #ffffff;
    background-color: #00274C;
}




main section:nth-child(3) {
    color: #00274C;
    background-color: #ffffff;
}




main section:nth-child(4) {
    color: #fdfdfd;
    background-color: #00274C;
}


main section:nth-child(5) {
    color: #00274C;
    background-color: #ffffff;
}


/* link */
main section:nth-child(4) a {
    color: #FFCB05;
}

main section:nth-child(4) a:hover, main section:nth-child(4) a:focus {
    font-weight: bold;
    border: solid 1px #FFCB05;
    padding: 0px 5px;
}


main section:nth-child(3) a:hover, main section:nth-child(3) a:focus {
    font-weight: bold;
    padding: 0px 2px;
}

/* footer */

footer {
    font-family: Arial, Helvetica, sans-serif;
    color: #00274C;
    background-color: #FFCB05;
    padding: 10px;

}

footer a {
    color: #575294;
    font-weight: lighter;
}

footer a:hover, footer a:focus {
    color: #00274C;
    font-weight: bold;

}



/*Grid details*/


.index_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1%;
    padding: 1%;

}

.i1 {
    background-color: #00274C;
    text-align: center;
    min-height: 75px;
    align-content: center;
    border-radius: 10px;
    border: solid 2px #FFCB05;
    font-size: 12px;
}

.i1:hover, .i1:focus {
    background-color: #2F65A7;
}

.i1 a {
    color: white;
    padding: 0px 2px;
}

.i1 a:hover, .i1 a:focus {
    color: #FFCB05;
    font-weight: bold;
    font-size: 14px;
}



.portfolio_grid {

    background-color: #727272;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    text-align: center;
    min-height: 200px;
    /*padding: 0px;*/
}

.portfolio_grid h2 {
    grid-column: 1/span 2;
}

.portfolio_grid:first-child,
.portfolio_grid:nth-child(2),
.portfolio_grid:nth-child(3),
.portfolio_grid:last-child {

    color: #ffffff;
    background-image: url(../images/UMSI_MastersOrientation_081825_18.jpg);

}

.grid_header {
    color: #FFCB05;
    font-size: 14px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: normal;
}

.resume_link{color:#FFFFFF;}

.resume_link:hover, .resume_link:focus{border: #FFCB05 1px solid;}

.last_grid {grid-column: 1/span 2;}
