/*all css are writen by my own. Form template html is from a public website. Form css is written by myself.*/

body {
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.skip {
    position: absolute;
    top: -65px;
    left: 0;
}

.skip:focus {
    top: 5px;
    color: #00274C;
    background: white;
    border: 2px solid #00274C;
    position: relative;
    font-weight: bold;
    width: auto;
}

.main_page {
    font-weight: bold;
    text-decoration: none;
    color: #00274C;
    background-color: #FFCB05;
    background: linear-gradient(90deg, rgba(255, 203, 5, 0) 0%, rgba(255, 203, 5, 1) 25%, rgba(255, 203, 5, 1) 75%, rgba(255, 203, 5, 0) 100%);
    padding: 0px 15px;
}



/* header page*/
header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: start;
    column-gap: 2px;
    justify-content: stretch;
    background-image: url(../images/Meeting-Critical.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: inherit;
    height: 100%;

}





h1 {
    font-size: 16px;
    font-weight: bolder;
    grid-column: 2;
    text-align: right;
    padding-right: 10px;
    align-self: center;
    margin-top: 5px;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: #000000 2px 2px;


}

header img {
    z-index: 2;
    grid-column: 1/span 1;
    width: 100%;
    max-width: 50px;
    min-width: 50px;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

nav ul li {
    margin-bottom: 0px;
}

nav {
    background-color: #00274C;
    padding: 0;
    justify-items: center;
    justify-content: space-evenly;
    align-content: center;
    grid-column: 1/span 2;
    height: 25px;
    /*overflow: visible;*/
    position: sticky;
    top: 0;

}

nav ul {
    color: white;
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    font-size: 14px;
    justify-content: space-evenly;
    justify-items: center;
    align-content: stretch;
    align-items: center;
    list-style: none;
    width: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.main_page a:visited {
    color: #00274C;
}

header a:visited {
    color: #FFCB05;
    text-decoration: none;
}

header a {
    color: #ffffff;
    text-decoration: none;
    padding: 25px;
}

header a:hover,
header a:focus {
    font-size: 14px;
    transition: ease-in-out 0.1s;
    padding: 0px;
    border: none;
    font-weight: bold;

}

main a:hover,
main a:focus {
    font-weight: bolder;
}


/* main */

.extra_note {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    text-align: left;
    justify-content: left;
    width: 100%;
}

.pageimage {
    width: 100%;
}

main section:first-child {
    color: #FFCB05;
    background-color: #000000;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    justify-items: center;

}

main section h2,
main section p,
main section ul {
    padding: 10px
}


main section:first-child h2 {
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border: #FFCB05 dashed 1px;
    width: 75%;
    padding: 5px;
    margin-top: 15px;
    border-radius: 5px;
}

main section h3 {
    padding-left: 10px;
}

h2 {
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-align: center;
}

h3 {
    font-size: 14px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    margin-top: 10px;

}

p {
    font-size: 14px;
}

ul {
    font-size: 14px;
    list-style: none;

}

li {
    margin-bottom: 10px;
}

iframe {
    width: 100%;
    height: 250px;
}


/* main section */
main section:nth-child(2) {
    color: #ffffff;
    background-color: #00274C;
}




main section:nth-child(3) {
    color: #00274C;
    background-color: #ffffff;
}




main section:nth-child(4) {
    color: #fdfdfd;
    background-color: #00274C;
}


main section:nth-child(5) {
    color: #00274C;
    background-color: #ffffff;
}


/* link */
main section:nth-child(4) a {
    color: #FFCB05;
}

main section:nth-child(4) a:hover,
main section:nth-child(4) a:focus {
    font-weight: bold;
    border: solid 1px #FFCB05;
    padding: 0px 5px;
}


main section:nth-child(3) a:hover,
main section:nth-child(3) a:focus {
    font-weight: bold;
    padding: 0px 2px;
}





/* footer */

footer {
    font-family: Arial, Helvetica, sans-serif;
    color: #00274C;
    background-color: #FFCB05;
    padding: 10px;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: start;

}

footer img {
    width: 25%
}

footer a {
    color: #575294;
    font-weight: lighter;
}

.school_info,
.contact_info {
    grid-column: 1/span 2;
    padding: 5px 0px;
}

footer a:hover {
    font-weight: bold;
}

footer div a img:hover{
    opacity: 0.8;
    width: 280px;
    transition: 0.2s;
}

footer a:focus {
    color: #00274C;
    background-color: #fdfdfd;
    font-weight: bold;
    border: solid 2px #00274C;
    border-radius: 3px;


}



.social_media img {
    width: 25px;
}



/*Grid details*/


.index_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1%;
    padding: 1%;

}

.i1 {
    background-color: #00274C;
    text-align: center;
    min-height: 75px;
    align-content: center;
    border-radius: 10px;
    font-size: 14px;
}

.i1:hover {
    background-color: #2F65A7;
    transition: 0.3s;
}

.i1 a {
    color: white;
    padding: 0px 2px;
    text-decoration: none;
}

.i1 a:focus {
    color: #FFCB05;
    font-size: 12px;
    transition: ease-in-out 0.3s;
    border: solid 2px #00274C;
}



.portfolio_grid {

    width: 100%;
    display: grid;
    grid-template-columns: 25% 25%;
    justify-content: space-evenly;
    justify-items: center;
    align-items: center;
    min-height: 200px;
    text-align: center;
}

.portfolio_grid h2 {
    grid-column: 1/span 2;
    text-shadow: 1px 1px 3px #000
}

.portfolio_grid {

    color: #ffffff;
    background-image: url(../images/UMSI_MastersOrientation_081825_18.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding-bottom: 25px;

}

.portfolio_grid a.grid_header:hover,
.portfolio_grid a.grid_header:focus {
    color: #00274C;
    background-color: #FFCB05;
    border-radius: 5px;

    text-align: center;
}

.portfolio_grid div {
    display: none;

}

.portfolio_grid h2 {
    align-self: center;
}

.grid_header {
    width: 100%;
    color: #ffffff;
    font-size: 14px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: normal;
    text-decoration: none;

}

.resume_link {
    color: #FFFFFF;
}

.resume_link:hover,
.resume_link:focus {
    border: #FFCB05 1px solid;
}

.last_grid {
    grid-column: 1/span 2;
}

/* logo */
.logo {
    display: none;
}


/*form*/

.contact-form {

    width: 75%;
    justify-self: center;
    align-self: center;
    text-align: center;
}

.form_header {
    padding: 5px 0px;
    text-align: center;
}

.form_intro {
    text-align: center;
}


.contact-form fieldset {
    grid-column: span 1;
    border: 2px solid #2F65A7;
    border-radius: 8px;
    padding: 10px;
    margin-top: 10px;
    min-height: 50px;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: stretch;
    align-content: space-evenly;


}


label {
    padding-top: 5px;
    text-align: left;
}

input {
    width: auto;
    min-height: 25px;
    margin-top: 5px;
    transition: all 0.3s ease;
}

textarea {
    transition: all 0.3s ease;
}


input:focus,
textarea:focus {
    background-color: #ffefb0;
    border: #00274C solid 2px;
}

input:hover,
textarea:hover {
    border: #00274C solid 2px;
    border-radius: 3px;
}



.contact-form legend {
    font-size: 1.2em;
    color: #2F65A7;
    padding: 0px 3px;
    font-weight: bold;
}


.contact-form button {
    width: 50%;
    justify-self: center;
    background-color: #00274C;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 12px;
    font-weight: bold;
    margin: 15px 0px;

    transition: ease-in-out 0.2s;
}

.contact-form button:active,
.contact-form button:hover,
.contact-form button:focus {
    background-color: #2F65A7;
    color: #fdfdfd;
}

.contact-form button:focus {
    border: #FFCB05 solid 3px;
}

/* 404 page */
.page404 header {
    margin-bottom: 0px;

}

.page404 main {
    color: #fdfdfd;
    background-color: #2F65A7;
    margin-top: 0px;
    border-top: #2F65A7 5px solid;
    width: 100%;
}

.page404 main h1 {
    text-align: center;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    justify-self: center;
    padding: 0px;

}

.page404 main p {
    width: 75%;
    text-align: center;
    justify-self: center;
    margin-top: 10px;
}

.page404 main a {
    color: #fdfdfd;
    text-decoration: none;
}

.page404 main section {
    background-color: #2F65A7;
    color: #FFFFFF;
}

.page404 main section img {
    width: 100%;

}

.page404 main section h2 {
    text-align: center;
    padding: 0px;
}

.page404 main section div {
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    height: 50px;
    justify-content: space-evenly;
    justify-items: center;
    align-items: center;
}



/*Tablet view*/

@media screen and (min-width:775px) {

    .main_page {
        font-weight: bold;
        text-decoration: none;
        color: #00274C;
        background-color: #FFCB05;
        background: linear-gradient(90deg, rgba(255, 203, 5, 0) 0%, rgba(255, 203, 5, 1) 25%, rgba(255, 203, 5, 1) 75%, rgba(255, 203, 5, 0) 100%);
        margin: 0px;
        padding: 10px 30px;
        width: fit-content;
    }

    header {

        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 2px;
        justify-content: stretch;
        background-image: url(../images/Meeting-Critical.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: inherit;
        height: 100%;
        background-color: #00274C;
        /* overflow: visible; */


    }



    h1 {
        font-size: 28px;
        font-weight: bolder;
        grid-column: 2;
        text-align: right;
        padding-right: 25px;
        color: white;
        width: 80%;
        justify-self: end;
        align-self: center;
        line-height: 150%;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

    }

    header img {
        grid-column: 1/span 1;
        min-width: 100px;
        align-self: center;
        margin-left: 10px;

    }

    nav {
        background: linear-gradient(0deg, rgba(0, 39, 76, 1) 0%, rgba(0, 39, 76, 0.5) 75%, rgba(0, 39, 76, 0) 100%);
        height: 50px;
        padding: 0;
        position: sticky;
        top: 0;
        z-index: 1000;


    }

    nav ul {
        color: white;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        font-size: 12px;
        justify-items: center;
        list-style: none;
        height: 50px;
        width: 100%;
        font-family: Georgia, 'Times New Roman', Times, serif;

    }

    nav ul li {
        font-size: 18px;
        text-decoration: none;
        margin-bottom: 0px;
        align-self: center;

    }


    .main_page a:visited {
        color: #00274C;
    }

    header a:visited {
        color: #FFCB05;
        text-decoration: none;
    }

    header a {
        color: #ffffff;
        text-decoration: none;
    }

    header a:hover,
    header a:focus {
        font-size: 20px;
        transition: ease-in-out 0.2s;
        font-weight: bold;

    }




    main a:hover,
    main a:focus {
        font-weight: bolder;
    }


    /* main */

    .extra_note {
        font-family: Arial, Helvetica, sans-serif;
        font-style: italic;
        text-align: left;
        justify-content: left;
        width: 100%;
    }


    .pageimage {
        width: 100%;
        height: 100%;
    }





    main section:first-child {
        color: #FFCB05;
        background-color: #000000;
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        padding-bottom: 15px;

    }

    .first_pageimage {
        width: 100%;
        height: 100%;
        max-height: 300px;
        object-fit: cover;
        object-position: center 30%;
        order: -1;
    }

    main section p,
    main section ul {
        padding: 15px;
    }

    h2 {
        padding: 25px 15px 25px 15px;
        font-size: 24px;
        justify-self: center;
    }

    main section h3 {
        font-size: 21px;
        padding: 15px;
        padding-top: 0px;
    }

    main section:first-child h2 {
        color: rgb(255, 255, 255);
        font-size: 36px;
        font-family: 'Trebuchet MS', sans-serif;
        font-weight: lighter;
        text-align: center;
        border: none;
        width: 100%;
        padding: 10px;
    }



    h2 {
        font-size: 24px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
        align-self: center;
    }

    h3 {
        font-size: 14px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: bolder;
        margin-top: 10px;

    }

    .note {
        font-size: 14px;
        padding: 10px 15px;
    }

    p {
        font-size: 16px;
        padding-left: 15px;
    }

    ul {
        font-size: 16px;
        list-style: none;

    }

    li {
        margin: 0px 0px 25px;
    }

    iframe {
        width: 100%;
        height: 100%;
        object-fit: cover;

    }


    /* main section */
    main section:nth-child(2) {
        color: #00274C;
        background-color: #ffffff;
        padding: 15px 0px;
    }




    main section:nth-child(3) {
        color: #00274C;
        background-color: #ffffff;
    }




    main section:nth-child(4) {
        color: #fdfdfd;
        background-color: #00274C;
        padding-bottom: 15px;
        padding-top: 15px;
    }


    main section:nth-child(5) {
        color: #00274C;
        background-color: #ffffff;
    }


    /* link */
    main section:nth-child(4) a {
        color: #FFCB05;
    }

    main section:nth-child(4) a:hover,
    main section:nth-child(4) a:focus {
        font-weight: bold;
        border: solid 1px #FFCB05;
        padding: 0px 5px;
    }


    main section:nth-child(3) a:hover,
    main section:nth-child(3) a:focus {
        font-weight: bold;
        padding: 0px 2px;
    }

    /* footer */


    footer {
        font-family: Arial, Helvetica, sans-serif;
        color: #00274C;
        background-color: #FFCB05;
        padding: 10px;
        display: grid;
        grid-template-columns: 50% 30%;
        justify-items: start;
        justify-content: space-around;
        align-items: end;

    }

    footer img {
        width: 25%
    }

    footer a {
        color: #575294;
        font-weight: lighter;
    }

    .school_info {
        grid-column: 1/span 2;
        padding: 5px 0px;
    }

    .contact_info {
        grid-column: 1/span 1;
    }

    footer p a:focus {
        color: #00274C;
        font-weight: bold;
        border: solid 2px #00274C;
        border-radius: 3px;


    }


    .social_media img {
        width: 36px;
    }

    .social_media img:hover {
        width: 40px;
        opacity: 0.8;
    }



    /*Grid details*/


    .index_grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 15px;
        gap: 15px;


    }


    .special_heading {
        font-size: 48px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        padding: 10px 0px 0px 0px;
        font-weight: normal;
        color: #2F65A7;
        border-top: #00274C 3px solid;
    }

    .i1 {
        background-color: #ffffff;
        align-content: space-around;
        text-align: center;
        min-height: 75px;
        border: none;
        border-radius: 0%;
        border: #00274C solid 1px;
        border-top: #FFCB05 solid 8px;
        padding-bottom: 25px;

    }

    .i1:hover {
        background-color: #FFCB05;
        border-top: solid 15px #00274C;
        cursor: pointer;
        transition: 0.3s;
    }

    .i1 a {
        color: #00274C;
        font-size: 24px;
        text-decoration: none;
    }


    .i1 a:focus {
        color: #00274C;
        font-weight: lighter;
        font-size: 24px;
        background-color: #FFCB05;
        border: none;
    }



    .portfolio_grid {

        background-color: #000000;
        width: 100%;
        height: 350px;
        display: grid;
        grid-template-columns: 20% 20% 20% 20%;
        justify-content: space-evenly;
        align-content: space-evenly;
        align-items: start;
        text-align: center;
        min-height: 200px;

    }

    .portfolio_grid h2 {
        grid-column: 1/span 4;
    }

    .portfolio_grid {

        color: #ffffff;
        background-color: #000000;
        background-image: url(../images/UMSI_MastersOrientation_081825_18.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 11px;
        padding-left: 5px;
        padding-right: 5px;
        gap: 5px;


    }

    .portfolio_grid a.grid_header:hover {
        color: #00274C;
        background-color: #FFCB05;
        border-radius: 5px;
        text-align: center;
        padding: 5px;
        transition: ease-in-out 0.1s;
    }

    .portfolio_grid a.grid_header:focus {
        color: #00274C;
        background-color: #FFCB05;
        border-radius: 5px;
        text-align: center;
        padding: 5px;
        transition: ease-in-out 0.1s;
        border: none;
    }

    .resume .portfolio_grid>*:nth-child(2) {
        grid-column: 1;
        grid-row: 2;
    }


    .resume .portfolio_grid>*:nth-child(3) {
        grid-column: 2;
        grid-row: 2;
    }

    .resume .portfolio_grid>*:nth-child(6) {
        grid-column: 3;
        grid-row: 2;
    }

    .resume .portfolio_grid>*:nth-child(7) {
        grid-column: 4;
        grid-row: 2;
    }

    .resume .portfolio_grid>*:nth-child(4) {
        grid-column: 1;
        grid-row: 3;
    }


    .resume .portfolio_grid>*:nth-child(5) {
        grid-column: 2;
        grid-row: 3;
    }


    .resume .portfolio_grid>*:nth-child(8) {
        grid-column: 3;
        grid-row: 3;
    }

    .resume .portfolio_grid>*:nth-child(9) {
        grid-column: 4;
        grid-row: 3;
    }


    .portfolio_grid div {
        display: block;
        align-items: start;
        font-size: 14px;
        font-family: Helvetica, sans-serif;
        font-weight: lighter;


    }

    .portfolio_grid h2 {
        padding: 0px;
        align-self: center;
    }


    .grid_header {
        color: #FFCB05;
        font-size: 18px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-weight: bolder;
        text-decoration: none;

    }

    .grid_header:visited {
        color: rgb(255, 255, 255);
    }

    .resume_link {
        color: #FFFFFF;
    }

    .resume_link:hover,
    .resume_link:focus {
        border: #FFCB05 1px solid;
    }

    .last_grid {
        grid-column: 2/span 2;
    }

    #homepage_cover {
        display: grid;
        grid-template-columns: 40% 60%;
        padding-left: 15px;
        align-items: stretch;
        padding-bottom: 0px;
    }

    #homepage_cover h2 {
        grid-column: 1/-1;
        margin: 5px 0px;
    }

    #homepage_cover p {
        padding: 0px 0px 15px 0px;
        text-align: left;
    }


    /* logo */
    .logo {
        display: block;
        max-width: 50%;
        justify-self: center;
        padding-bottom: 25px;
    }

    /*form*/

    .contact-form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 90%;
        gap: 20px;
        justify-self: center;
        align-self: center;
    }

    .form_header {
        padding-bottom: 5px;
        padding-top: 25px;
    }

    .form_intro {
        text-align: center;
    }


    .contact-form fieldset {
        grid-column: span 1;
        border: 2px solid #2F65A7;
        border-radius: 8px;
        padding: 10px;
        margin-top: 15px;
        min-height: 150px;
        display: grid;
        grid-template-columns: 1fr;
        justify-items: stretch;
        align-content: space-evenly;

        label {
            padding-top: 5px;
        }

    }

    input {
        width: auto;
        min-height: 25px;
        margin-top: 5px;
    }



    .contact-form legend {
        font-size: 1.2em;
        color: #2F65A7;
        padding: 0px 3px;
    }

    textarea {
        min-height: 75px;
        margin-top: 10px;
    }

    .contact-form button {
        grid-column: 1 / 3;
        width: 50%;
        justify-self: center;
        background-color: #00274C;
        color: #ffffff;
        border: none;
        border-radius: 5px;
        padding: 12px;
        font-weight: bold;
        margin-bottom: 25px;
    }



    /* 404 page */
    .page404 header {
        margin-bottom: 0px;

    }

    .page404 main {
        color: #fdfdfd;
        background-color: #2F65A7;
        margin-top: 0px;
        border-top: #2F65A7 5px solid;
        width: 100%;
        height: 100%;
        padding-bottom: 25px;
    }

    .page404 main h1 {
        text-align: center;
        font-size: 30px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        justify-self: center;
        padding: 0px;

    }

    .page404 main p {
        width: 75%;
        text-align: center;
        justify-self: center;
        margin-top: 10px;
    }

    .page404 main a {
        color: #fdfdfd;
        text-decoration: none;
    }


    .page404 main a:hover,
    .page404 main a:focus {
        color: #FFCB05;
        text-decoration: none;
        font-size: 30px;
    }

    .page404 main section {
        background-color: #2F65A7;
        color: #FFFFFF;
        display: grid;
        grid-template-columns: 40% 50%;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        justify-content: center;
        justify-items: center;
    }

    .page404 main section img {
        width: 100%;
        grid-row: 1/span 4;

    }

    .page404 main section h2 {
        text-align: center;
        padding: 0px;
        grid-row: 2;
        font-size: 36px;
    }

    .page404 main section div {
        font-size: 24px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        display: grid;
        grid-column: 2;
        grid-template-columns: 50% 50%;
        height: 70px;
        justify-content: space-evenly;
        justify-items: center;
        align-items: center;
        align-content: space-between;
        grid-row: 3;
        min-width: 350px;
        text-align: left;
    }
}